@model Fiap.Apostila07.MVC.Web.Models.Missa
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastro de Missa</h2>

@TempData["msg"]

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.Passagem)
        @Html.TextBoxFor(m => m.Passagem, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Data)
        @Html.TextBoxFor(m => m.Data, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Igreja)
        @Html.DropDownListFor(m => m.IgrejaId,
            ViewBag.opcoes as SelectList, "Selecione",
            new { @class = "form-control" } )
    </div>
    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
}

