@model Fiap.Apostila08.MVC.Web.Models.Carro
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastro de Carro</h2>

@using (Html.BeginForm())
{
    if (TempData["msg"] != null)
    {
        <div class="alert alert-success">
            @TempData["msg"]
        </div>
    }
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(c => c.Modelo)
        @Html.TextBoxFor(c => c.Modelo, new { @class = "form-control"})
        @Html.ValidationMessageFor(c => c.Modelo)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Ano)
        @Html.TextBoxFor(c => c.Ano, new { @class = "form-control"})
        @Html.ValidationMessageFor(c => c.Ano)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Marca)
        @Html.DropDownListFor(c => c.MarcaId ,
                ViewBag.marcas as SelectList , "Selecione",
                new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
}

